{% extends 'layouts/tienda.html' %}{% load static %} {% block content %}

<div class="min-vh-100 d-flex flex-colum py-2">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.3s text-center py-4">DEVOLUCIONES</h3>
        <div class="row py-auto">
            <div class="col-10 mx-auto animate__animated animate__backInRight animate__delay-0.3s ">
                <p class="text-justify">
                    </p>
                <p class="text-justify">Lo sentimos mucho si no está satisfecho con su compra. Por favor contáctenos para coordinar una devolución o cambio del producto.
                </p>
                <p class="text-justify">
                    <span class="font-weight-bold"> Detalle:</span> revise cuidadosamente los productos antes de realizar la compra. Si por algún motivo no está satisfecho con su compra, comuníquese con nuestro equipo de atención al cliente lo antes posible para que podamos resolver cualquier problema.
                </p>
                <div class="col-10 text-right">
                    <a href="/" class="btn btn-dark my-4 mx-auto">Atras</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}